/* DonutChart.css */
.donut-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-wrapper {
  width: 300px;
  height: 300px;
  margin: 0 0 24px 0;
}

.chart-svg {
  width: 100%;
  height: 100%;
}

.chart-inner {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
}

.chart-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 24px;
  font-weight: bold;
}
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #f5f6fa;
  padding: 12px 32px;
  /* gap: 12px; */
  margin-bottom: 25px;
}
.tab button {
  color: #373b47;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 8px 22px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 16px;
}
.btn-active {
  color: #003eff !important;
  background-color: #fff !important;
  letter-spacing: 0.84px;
}

.tab button:hover {
  background-color: #430099 !important;
  letter-spacing: 0.84px;
  color: #fff !important;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.pill {
  height: 13px;
  width: 37px;
  border-radius: 33px;
  display: inline-block;
}
.description {
  color: #938fa3;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  margin-left: 13px;
}
