.container {
  padding: 24px;
  display: flex;
  min-height: 97vh;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.title {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  margin: 0 0 34px 0;
}
.card {
  display: inline-flex;
  height: 100%;
  max-width: 561px;
  padding: 32px 38px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 40px;
  background: #fff;
}
.sub-title {
  color: #1f1f23;
  font-weight: 700;
  margin: 0 0 42px 0;
}
